body {
    background-image: url(./img/wed+rings.jpg);
    background-repeat: no-repeat;
 background-size: cover;
 background-attachment:fixed
}

#create-container{
    box-shadow: 0px 0px 10px 2px rgb(111, 44, 122);
    padding-top: 30px;
    padding-bottom: 40px;
}

.create-container-info
 {
    background-image: url(./img/temp.jpg);
    background-repeat: no-repeat;
    background-size:inherit ;

    width: 565px;
    height: 350px;
    display: grid;
     /* grid-template-columns: 8fr 5fr; */
   place-items: center; 
    line-height: 1.5;
    left: 28%;
    box-shadow: 0 30px 20px rgba(135, 1, 140, 0.185); 
}
/* .temp{
    display: inline-block;
    background-image: url(./img/temp.jpg);
    background-repeat: no-repeat;
 
    background-size: cover;
    background-attachment:fixed
} */