.swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
  transform: translateX(-55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bcgHome {
  background-image: url("./images/thisIsTheBcImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* .container{
      min-height: 100%;
      background-position: center;
      background-size: cover;
  } */

/* .center is the text at the middle */


.center {

  position: absolute;

  top: 18%;
  width: 95%;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Lucida Handwriting
}




.navUl {
  opacity: 0.8;

  /* position: sticky;
    top: 20px; */
  /*  this removes the list markers*/
  list-style-type: none;
  /*Set margin: 0; and padding: 0; to remove browser default settings*/
  /* margin: 0;
    padding: 0; */
  overflow: hidden;
  background-color: rgb(174, 173, 173);
}

.navUl li {
  float: left;
}

.KD {
  font-size: 80px;
}

.navUl li a {

  display: block;
  color: rgb(245, 238, 238);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;

}

/* Change the link color to #111 (black) on hover */
.navUl li a:hover {
  background-color: rgb(197, 197, 197);
}

/* .active {
    background-color: #acb9b3;
  } */

.navUl li {
  border-right: 1px solid rgb(187, 187, 187);
}

.navUl li:last-child {
  border-right: none;
}

/* this is if i want to be fixed up */
.navUl {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  opacity: 0.5;
  background: rgb(174, 173, 173);
  position: fixed;
  text-align: center;
  bottom: 0;
  height: 35px;
  font-size: 30px;
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 0.5em em;
}

/* invitation  */

.flowers {
  margin-top: 70px;
  position: absolute;
  right: 0;
  top: 0;
  height: 500px;
  width: 500px;

}

.btmFlower {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 500px;
  width: 500px;
  margin-bottom: 15px
}

/* Wishing book  */

/* .wrapper{
  margin-top: 20%;
} */

.h1Aboutus {
  font-family: Lucida Handwriting;
  color: white;
  text-shadow: 4px 4px 6px #000000;
  font-size: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.story {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
}

.story-1 {
  background-color: rgba(122, 118, 118, 0.534);
  margin: 10px;
  margin-bottom: 20px;
  width: 500px;
  padding: 20px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  position: relative;

}

.story-1 h3 {
  color: rgb(240, 199, 63);
  font-size: 26px;
  margin-top: 50px;

}

.description {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0
}

.BcgAboutUS {
  background-image: url("./images/svadba-zhenih-nevesta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.storyImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%)
}

.storyImg img {
  width: 100px;
  height: 100px;
}

/* Register  */
.registerBcg{
  background-image: url("./images/couple-bride-groom-married.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
    font-size: 10px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.wrapperReg {


  width: 80%;
  height: 100vh;
  /* margin: 0 auto; */
  display:flex;
  margin-left: 10px;
  justify-content: right;
  align-items: center;

}

.form-heading {
  color: rgba(255, 255, 255, 0.871);
  font-size: 2.5rem;
  position: absolute;
  top: 3.5rem;
  left: 10rem;


}

.formReg {
  transform: translateX(10rem);
  padding: 1rem ;
  background-color: rgba(255, 255, 255, 0.532);
  border-radius: 1rem;
  box-shadow: 0 1px 1.5rem 0 rgba(255, 255, 255, 0.5);

}

.input-group {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  align-self: baseline;

}

.input-group input {
  width: 100%;

  position: relative;
  padding: 1rem ;
  margin-top: 0.5rem;

  border: none;
  outline: none;
  font-size: 1.8;
  color: rgb(91, 91, 91);

}

.input-group > i{
  font-size:2rem;
  margin-right: 1rem;
  colour: rgb(161, 161, 161);
}

.input-group .bar{
  position: absolute;
  left :0;
  bottom: 0;
  background-color:rgb(173, 172, 172);
  width: 100%;
  height:1px;

}
.input-group .bar::before{
  content: " ";
  position: absolute;
  background-color: rgb(0, 0, 0);
  width:0;
  height:2px;
  transition: width 650ms;
}

.input-group input:focus + .bar::before{
width:100%;


}

.input-group button{
  margin:3rem auto;
  padding:1rem 5rem;
  background: linear-gradient(to left, #f9f9f9, #6d6d6d);
border: none;
  color:black;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 3rem;

}

.input-group button:focus,
.input-group button:hover{
  background: linear-gradient(to right, #f9f9f9, #6d6d6d);

}

.switch-login{
  text-align: center;

}
.switch-login a{
  text-decoration: none;
  color:#000000;
  font-size:1.5rem;


}
.loginh3{
  font-size:20px;
}
.switch-login a span {

  color: #208322;
}
.switch-login a span:hover{
  padding-bottom: 2px;
  border-bottom: 2px solid #d0ff61;
}

.errorMsg{
  font-size:20px;
  color: #ff0000;
}

@media  screen and (max-width:700px) {
 
  .form-heading{
    left:50%;
    transform: translateX(-50%)

  }
  .formReg{
    border-radius: initial;
    transform:initial;
    box-shadow: none;
  }
} 

/* login */
.loginBcg{
  background-image: url("./images/loginbcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
    font-size: 10px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.formlogin {
  transform: translateX(10rem);
  padding: 1rem ;
  background-color: #d37393a1;
  border-radius: 1rem;
  box-shadow: 0 1px 1.5rem 0 #eb5c8b

}
/* 404 */
.errorPage img{
  
 width: 50%;
 height: 80vh;
 margin-left: 400px;
}

.errorPage h1{


  position: absolute;
margin-top: 200px;
margin-left: 500px;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Lucida Handwriting;
  z-index:1
}
/* RSVP */
.rsvp{
  
  background-image: url("./images/rsvp.webp");
  background-size:contain;
  background-position: right;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.rsvp{ 
  display:flex;
  position:center;
 
    display: grid;
    grid-template-columns: 1fr 3fr;
  
}
.formRsvp{

  margin-top:300px;

  padding:0%;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #d1cdc1ba, #fac892e6);
  width: 60%;
  height:60%;
  border-style:double;
  z-index: 2;
}
 


.btnRsvp{  
  margin:3rem auto;
  padding:1rem 5rem;
  background: linear-gradient(to left, #ffad7b, #e8e4e7);
border: none;
  color:black;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2rem;  /* padding:0.5em 1em ;
  border-radius:6px;
  background-color: rgb(219, 101, 101);
  font-family:'Lato',sans-serif; 
  font-size:1em; */
}
.msgRsvp{font-size: 30px;}
.msgRsvp textarea{
min-width:90%;
min-height:8em;
padding:1em;
border:1px solid rgb(0, 0, 0)

}
.rsvpSelect{
  font-size: 30px;}

.rsvpinputs{
font-size: 30px;}
.jop{
position: relative;
  top: 18%;
  width: 100%;
  margin-left: 400px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Lucida Handwriting;
  z-index: 1;
  
}
/* Book */




/* Comments */
.wish-button{
  color: black;
  font-size: 40px;
}
.WBcg{
  background-image: url("./images/lilavo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}


.headingOfBookW {
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 100px;
  font-size: 50px;
  color: white;
  text-shadow: 2px 4px 8px #600f5c;
  font-family: Lucida Handwriting ;
}
.nowishes{
  font-size: 50px;
  color: white;
  text-shadow: 2px 4px 8px #600f5c;
  font-family: Lucida Handwriting ;
}

 .bodyWish{

  display: flex;
  align-items: center;
  justify-content: center;  
margin-top:100px;} 

.bodyWish section{
  margin: 10px;
}
section .card .imageW{
  
  height:140px;
  width:140px;
  border-radius: 50%;
  padding:3px;
  background-color: rgb(88, 23, 111)

}

section .card .imageW img{
  height:100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(248, 248, 248)

}

.card{
  position: relative;
  background-color: rgb(237, 211, 240);
  border-radius:20px ;
  margin:20px 0;
  width: 280px;
}


.card::before{
  content: "";
  position: absolute;
  height:40%;
  width: 100%;
  background-color: rgb(88, 23, 111);
  border-radius: 20px 20px 0 0 ;
}
.card .card-content{
  display: flex;
  flex-direction: column;
  align-self:center;
  padding:30px;
  position: relative;
  z-index: 1;
}

.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-self:center;
}

.card .media-icons i {
 color: white;
 opacity: 0.6;
 margin-top:10px;
 transition: all 0.3s ease;

}
.card .media-icons i:hover{
  opacity: 1;
  cursor:pointer;
}
.card .name-prof{
  display: flex;
  flex-direction: column;
  align-self:center;
  margin-top:10px;
  color: rgb(0, 0, 0);
}

.name-prof .nameW{
  font-size: 20px;
  font-weight: 600;
}
.name-prof .prof{
  font-size: 15px;
  font-weight: 500;
}
.name-prof .something{
  font-size: 20px;
  font-weight: 500;
}
.card .btnW{
  width: 100%;
display: flex;
justify-content:space-around;
margin-top:20px;

}

.card .btnW button{
  background-color: rgb(104, 46, 126);
  outline: none;
  border: none;
  color: white;
  padding: 8px 22px;
  border-radius: 20px;
  font-size:14px;
  transition: all 0.3s ease;
}  

.btnW button:hover{
  background-color:rgb(165, 109, 170);
  cursor:pointer;
}
.wish-button, .WaddBtn{
display: flex;
justify-content:space-around;
background-color: rgb(104, 46, 126);
outline: none;
border: none;
color: white;
padding: 8px 22px;
border-radius: 20px;
font-size:20px;
transition: all 0.3s ease;
}

.wish-button:hover{
  background-color:rgb(165, 109, 170);
  cursor:pointer;
}


/* Modal Wish  */

.modal{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom: 0;
  background-color:rgba(58, 58, 58, 0.5);
  display:flex;
  align-items: center;
  justify-content: center;
  z-index:2
}

.modal-content{
  width:500px;
  background-color:rgb(237, 211, 240);
  font-size: 20px;
  border-radius: 25px;



}

.modal-header , .modal-footer{
  padding:10px;
  display: flex;
  flex-direction: column;
  align-self:center;
  margin-top:10px;
  color: rgb(0, 0, 0);
}

.modal-title{
  display: flex;
  flex-direction: column;
  align-self:center;
  margin-top:5px;
  margin-bottom:10px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 4px 8px #600f5c;

  font-size:30px;

}


.modal button{
justify-content:space-around;
background-color: rgb(104, 46, 126);
outline: none;
border: none;
color: white;
padding: 8px 22px;
border-radius: 50px;
font-size:20px;
transition: all 0.3s ease;
}

.modal button:hover{
  background-color:rgb(165, 109, 170);
  cursor:pointer;
}

.modal i{
  color: rgb(104, 46, 126);
  font-size: 20px;
}

/* Guest lists */
.Guests{ 
  background-image: url("./images/rsvp.webp");
  background-size:contain;
  background-position: right;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.wrapperGuest{
margin-bottom: 100px;
}
.Guests p{
  font-size: 60px;
  margin-left: 150px;
  margin-top:100px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Lucida Handwriting
}

.details{
margin-left: 30px;
  background-color: rgb(136, 136, 136);
outline: none;
border: none;
color: white;
padding: 8px 22px;
border-radius: 50px;
font-size:15px;
transition: all 0.3s ease;

}

.details:hover{
  background-color:rgb(49, 49, 49);
  cursor:pointer;
}
.gradient-list {
  margin-top: 50px !important;

}
.gradient-list li{
  margin-left: 100px;
  text-align: left;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000;
  margin-bottom:5px;

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 30px;
}
  
/* Details Item Page */



.detailsHeadingh1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width : 80%;

  margin-left: 150px;
  margin-top:100px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Lucida Handwriting
}

.detailsHeadingh2{
  text-align: center;
  justify-content: center;
  align-items: center;
  width : 80%;

  font-size: 40px;
  margin-top:100px;

  margin-left: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Lucida Handwriting
}

.detailsP{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-left: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Lucida Handwriting;
width : 50%
}

.guestDetails{
  margin-bottom: 50px;
}

/* Invitation */

.wrapInvitation{

  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.wrapInvitationh1, .wrapInvitationh2 {
  color: white;
  text-shadow: 2px 4px 6px #6f228a;
  font-family: Lucida Handwriting;
  font-size: 70px

}

.wrapInvitationh3{
  font-size: 40px;
  color: white;
  text-shadow: 2px 4px 6px #6f228a;
}

.invParagraph{
  font-size:30px;
  margin: 10px;
}

