body {
       background-color: #5d4d6a;
    background-image: url("./img/6c328ca7948f688645b20d1c0377ae6d.jpg");
    background-repeat: no-repeat;
    background-position: top right;  
    background-attachment:fixed;
    background-size: contain;


}